.menu{
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.menu nav{
    margin-bottom: 50px;
}
.menu > section{
    display: flex;
}

.menu h3{
    font-family: 'Staatliches';
    font-size: 2rem;
}
.link{
    display: block;
    padding: 20px 15px;
}
.link:hover{
    background-color: var(--blue);
    color: white;
}

.menu button{
    background-color: transparent;
    border: none;
    padding: 10px 25px;
    font-family: inherit;
    font-size: 1rem;
    border: var(--dark) 1px solid;
    transition: 0.4s;
}

.menu button svg{
    margin-bottom: -2px;
}

.menu button:hover{
    background-color: var(--blue);
    border: none;
    color: white;
}

@media (max-width:750px) {
    .menu section:first-child{
        display: none;
    }
}